*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.logo img{
height: 150px;
width: 180px;
cursor: pointer;
}
.content1{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.navbar{
  background: burlywood;
  position: absolute;
  width: 100%;
  height: 150px;
  position: fixed;
  
}
.logo{
  float: left;
  width: 500px;
}
.rightnav{
  float: right;
  padding-top: 60px;
  padding-left: 100px;

}


.navbar .rightnav li{
  list-style: none;
  display: inline-block;

}
.navbar .rightnav li a{
  text-decoration: none;
  color: rgb(8, 8, 119);
  font-weight: 700;
  font-size: 22px;
  margin-left: 40px;
}
.navbar .rightnav li a:hover{
  border-bottom: solid rgb(8, 8, 119);
  border-width: 7px;
  color: rgb(255, 255, 255);
}
.section1{
  background: url("../imgs/background.jpeg") no-repeat center;
  background-size: cover;
  height: 700px;
  color: beige;
  /* width: 100%; */
  padding-top: 250px;
  padding-left: 50px;
}
.container1{
  display: flex;
  flex-direction: row;
  height: 600px;
  /* width: 100%; */
  justify-content: space-between;
  padding: 50px;
}
.right1{
  float: right;
  width: 30%;
  
}
.left1{
  float: left;
  width: 70%;
  
}
.left1 h1{
  font-size: 55px;
  color: burlywood;
}
.left1>h3>span{
  color: burlywood;
}
.left1 h3{
  font-size: 40px;
}
.left1 p{
  font-size: 30px;
}
.left1 button a{
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(8, 8, 119);
}
.left1 button{
  border: solid transparent;
  border-radius: 10px;
  margin-left: 60px;
  padding: 10px;
  background-color: burlywood;
}
.left1 button a:hover{
 color: white;
}
.section2{
  height: 600px;
}
.aboutme{
  height: 100px;
  text-align: center;
  padding-top: 20px;
  color: rgb(8, 8, 119);
  font-size: 40px;
  font-weight: 700;
}
.left2{
  float: left;
  padding: 50px;
  height: 400px;
  width: 50%;
}
.right2{
  float: right;
  height: 400px;
  width: 50%;
  padding-top: 30px;
  padding-right: 40px;
}
.left2 img{
  width: 400px;
  height: 350px;
  border: solid transparent;
  border-radius: 5px;
}
.container2{
  display: flex;
  flex-direction: row;
}
.right2 h2{
  color: burlywood;
  font-size: 30px;
}
.right2 p{
  line-height: 25px;
}
.right2 button{
  border: solid transparent;
  border-radius: 10px;
  margin-left: 60px;
  padding: 10px;
  background-color: rgb(8, 8, 119);
}
.right2 button a{
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.right2 button a:hover{
  color: burlywood;
}
.section3{
  background: burlywood;
  height: 800px ;
  padding-top: 30px;
}
.right2 li{
  list-style: none;
}
.right2 h3{
  font-size: 28px;
  color: rgb(255, 255, 255);
}
.fa{
  color: rgb(8, 8, 119);
}
#comp{
  width: 500px;
}
.section4{
  height: 600px;
  padding: 60px;
}
.left3 li{
  list-style: none;
}
.right3 img{
  height: 450px;
  width: 250px;
}
.right3{
  float: right;
  height: 400px;
  width: 50%;
  padding-top: 30px;
  padding-right: 40px;
  
}
.left3{
   float: left;
  padding: 50px;
  height: 400px;
  width: 50%;
}
.left3 h3{
  font-size: 28px;
}
/* our team */
.title {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 30px;
  color: rgb(8, 8, 119);
}
.underline {
  height: 0.25rem;
  width: 5rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 80vw;
  max-width: var(--fixed-width);
}
.review {
  background: var(--clr-white);
  padding: 1.5rem 2rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
}
.review:hover {
  box-shadow: var(--dark-shadow);
}
.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
#person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.img-container::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: var(--clr-primary-5);
  color: var(--clr-white);
}
.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--clr-primary-5);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}
#author {
  margin-bottom: 0.25rem;
}
#job {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--clr-primary-5);
  font-size: 0.85rem;
}
#info {
  margin-bottom: 0.75rem;
}
.prev-btn,
.next-btn {
  color: var(--clr-primary-7);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: var(--clr-primary-5);
}
.random-btn {
  margin-top: 0.5rem;
  background: burlywood;
  color: var(--clr-primary-5);
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  border-radius: 10px;
  transition: var(--transition);
  border-color: var(--clr-primary-5);
  cursor: pointer;
  padding: 10px;
}
.random-btn:hover {
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
}
.section6{
  background: burlywood;
  height: 700px;
  padding-top: 50px;
}
 .right4 .topic-text{
  font-size: 25px;
  font-weight: 600;
  color: rgb(8, 8, 119);
}
.right4{
  float: right;
  height: 400px;
  width: 50%;
  padding-top: 100px;
  padding-right: 40px;
  
}
.right4 .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right4 .input-box input,
.right4 .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right4 .message-box{
  min-height: 110px;
}
.right4 .input-box textarea{
  padding-top: 6px;
}
.right4 .button{
  display: inline-block;
  margin-top: 12px;
}
.right4 .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: rgb(8, 8, 119);
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: rgb(222, 135, 210);
}
.heade {
  padding-left: 150px;
  padding-top: 50px;
  height: 130px;
  font-size: 30px;
  font-weight: lighter;
  color: #fffff2;
  font-family: 'Times New Roman', Times, serif;
}

.footer1 {
  background-color: #000000;
  height: 400px;
  width: 100%;
}

.heade span {
  color: #fff;
  height: 100px;
  width: 100%;
}

#content2 {
  height: 300px;
  width: 1000px;
  margin: auto;
  margin-bottom: 10px;
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap
}

.four {
  height: 300px;
  padding-top: 50px;
}

.five {
  height: 300px;
}

.six {
  height: 300px;
}

.seven {
  height: 300px;
}

.five ul>li>a {
  color: rgb(241, 241, 231);
  text-decoration: none;
  font-size: 10px;
}

.six ul>li>a {
  color: rgb(241, 241, 231);
  text-decoration: none;
  font-size: 10px;
}

.seven ul>li>a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 10px;

}

.five ul>li {
  list-style: none;
}

.six ul>li {
  list-style: none;
}

.seven ul>li {
  list-style: none;
}

.fa-facebook {
  background: #000000;
  color: white;
  text-decoration: none;
}

.fa-twitter {
  background: #000000;
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.fa-instagram {
  background: #000000;
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
.btn5{
  background: burlywood;
  padding: 10px;
  border: solid transparent;
  border-radius: 5px;
  color: #fff;
}
